<!--We are using HTML5 in this example so DOCTYPE Declaration and character encoding declaration is simple as compare to previous html versions-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <!--Note that scripts are not added here because the web-page executes that scripts and then after loads the page which is very time-consuming process-->
  <!--Bootstrap for front-end framework-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <title>Sample Form</title>
</head>

<body class="container" ng-app="angularModule" ng-controller="formController">
  <div class="alert alert-info alert-dismissable">
    <h2>
      <span class="label label-primary">Enter Details</span>
    </h2>
    <form name="myForm" novalidate>
      <div class="form-group">Name:
        <input type="text" name="firstName" placeholder="enter name here" ng-model="getName" class="form-control" ng-minlength="3" ng-maxlength="12" required>
        <div ng-show="myForm.firstName.$dirty && myForm.firstName.$invalid">
          <span class="label label-danger">
            <em>Error!</em> Name is required with minimum 3 and maximum 12 characters.</span>
        </div>
      </div>
      <div class="form-group">Email:
        <input type="email" name="email" placeholder="enter email here" ng-model="getEmail" class="form-control" required>
        <span ng-show="myForm.email.$dirty && myForm.email.$invalid">
          <span class="label label-danger" ng-show="myForm.email.$error.required">
            <em>Error!</em> Email is required.</span>
          <span class="label label-danger" ng-show="myForm.email.$error.email">Invalid email address.</span>
        </span>
      </div>
      <div class="form-group">Mobile No.:
        <span style="font-size:8px;color:gray">
          <em>(10 Digits)</em>
        </span>
        <input type="text" name="number" placeholder="enter mobile number" ng-pattern="/^(\+91-|\+91|0)?\d{10}$/" ng-model="getPhnNo" class="form-control" required>
        <div ng-show="myForm.number.$dirty && myForm.number.$invalid">
          <span class="label label-danger">
            <em>Error!</em> Phone number is required.</span>
        </div>
        <!--         <span ng-show="myForm.number.$dirty && myForm.number.$invalid">
          <span class="label label-danger" ng-show="myForm.number.$error.required">
            <em>Error!</em>Phone number is required.</span>
          <span class="label label-danger" ng-show="myForm.number.$error.number">Invalid phone number.</span>
        </span> -->
      </div>
      <div class="form-group">
        <button type="Sumbit" class="btn btn-info" ng-disabled="myForm.$invalid" ng-click="storeDetails()"> Save Details </button>
      </div>
    </form>
    <div class="alert alert-success" ng-hide="hideDetails">
      <span class="label label-success">Saved Details</span>
      <p>
        <span>Name:</span>
        <strong>{{user.name}}</strong>
        <br>
        <span>Email:</span>
        <strong>{{user.email}}</strong>
        <br>
        <span>Phone No.:</span>
        <strong>{{user.phnNo}}</strong>
        <br> </p>
    </div>
  </div>
  <!--scripts-->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
  <script src="app.js"></script>
  <script src="sample-form-controller.js"></script>
</body>

</html>
